<footer class="text-center ">
  <div class="footer-below">
    <div class="footer" >
        <div class="container">

          <div class="col-lg-6  col-md-6 col-sm-8 col-xs-8 word">
            <p class="footer-brand" href="/"><img src='<%= image_url 'logo.png' %>' >幸福小站</p>
            <p>Design by 王兴&马静</p>
            <p>Copyright ©2017 幸福小站</p>
          </div>

          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h4> 商品资讯 </h4>
            <ul>
              <li> <a href="javascript:void(0);"> 最新商品 </a> </li>
              <li> <a href="javascript:void(0);"> 商品分类 </a> </li>
              <li> <a href="javascript:void(0);"> 同城专区 </a> </li>
            </ul>
          </div>
          <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
            <h4> 购物须知 </h4>
            <ul>
              <li> <a href="javascript:void(0);"> 支付说明 </a> </li>
              <li> <a href="javascript:void(0);"> 配送说明 </a> </li>
              <li> <a href="javascript:void(0);"> 企业团购 </a> </li>

            </ul>
          </div>

          <div class="col-lg-2  col-md-4 col-sm-6 col-xs-12 ">
            <div class="row">
              <h4> 关于我们 </h4>
              <div class="contactus">
              </div>
              <ul class="social">
                <li> <a href="javascript:void(0);">品牌故事</a></li>
                <li> <a href="javascript:void(0);">媒体报道</a> </li>
                <li><a href="javascript:void(0);"> 联系我们</a> </li>

              </ul>
            </div>

          </div>
        </div>
        <!--/.row-->
      <!--/.container-->
    </div>
      <!--/.footer-->

  </div>
  <div id="gotop">
    <i class="fa fa-arrow-up"></i>
  </div>
</footer>
